{% extends 'base.html' %}



{% block content %}

{% if ride_list %}

<table class="table">
    <thead class="thead-dark">
      <tr class="text-uppercase">
        <td scope="col">From</td>
        <td scope="col">To</td>
        <td scope="col">Date and Time</td>
        <td scope="col">Travel Medium</td>
        <td scope="col">Assets Quantity</td>
       
      </tr>
    </thead>
    <tbody>
        {% for ride in ride_list %}
            <tr>
                <td>{{ride.from_location}}</td>
                <td>{{ride.to_location}}</td>
                <td>{{ride.date_time}}</td>
                <td>{{ride.travel_medium}}</td>
                <td>{{ride.assets_quanity}}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

No rides available


{% endif %}


{% endblock %}